## Collection data types - Tuples

- ordered collection of elements accessible by index
- share similar structure as lists but tuples are immutable

In [1]:
t = (1,2,3,4,)
t

(1, 2, 3, 4)

In [2]:
t[0]

1

In [3]:
t[1]

2

In [4]:
t[-1]

4

In [5]:
t[-3]

2

In [6]:
for i in range(len(t)):
    print(t[i])

1
2
3
4

In [7]:
for num in t:
    print(num)

1
2
3
4

In [8]:
t.append(4) #tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
t += (4,)
t

(1, 2, 3, 4, 4)

In [10]:
t

(1, 2, 3, 4, 4)

In [11]:
t *= 2

In [12]:
t

(1, 2, 3, 4, 4, 1, 2, 3, 4, 4)

In [1]:
tt = ((1,2,3),[4,5]) #nested tuple/2D tuple
tt

((1, 2, 3), [4, 5])

In [2]:
for i in range(len(tt)):
    for j in range(len(tt[i])):
        print(tt[i][j])

1
2
3
4
5

## Sets
- unordered collection of elements
- sets are mutable
- cannot contain duplicate entries

In [3]:
a = {'cat','dog','mouse','parrot'}
b = {'mouse','elephant','cat','lion'}

In [4]:
a

{'cat', 'dog', 'mouse', 'parrot'}

In [3]:
b

{'cat', 'elephant', 'lion', 'mouse'}

In [4]:
a.union(b)

{'cat', 'dog', 'elephant', 'lion', 'mouse', 'parrot'}

In [5]:
a.intersection(b)

{'cat', 'mouse'}

In [6]:
a.difference(b)

{'dog', 'parrot'}

In [7]:
b.difference(a)

{'elephant', 'lion'}

In [8]:
a.symmetric_difference(b)

{'dog', 'elephant', 'lion', 'parrot'}

In [23]:
s = set("hello")
s

{'e', 'h', 'l', 'o'}

In [24]:
s.add("i")
s

{'e', 'h', 'i', 'l', 'o'}

In [25]:
s.add("o")
s

{'e', 'h', 'i', 'l', 'o'}

In [26]:
s.remove("e")
s

{'h', 'i', 'l', 'o'}

### Find out all the unique items of the list 
```L = [2,33,2,1,1,5,6,6,0]```

In [8]:
L = [2,33,2,1,1,5,6,6,0]
l = []
for each in L:
    if each not in l:
        l.append(each)
l

[2, 33, 1, 5, 6, 0]

In [9]:
L

[2, 33, 2, 1, 1, 5, 6, 6, 0]

In [11]:
list(set(L))

[0, 33, 2, 1, 5, 6]

## Dictionaries
- unordered collection of key-value pairs
- mutable
- keys must always be unique
- only immutable types can be used as dictionary keys
- values can be any type

In [32]:
d = {"a":1,"b":2,"c":3}
d

{'a': 1, 'b': 2, 'c': 3}

In [33]:
d["a"]

1

In [35]:
d["c"]

3

In [37]:
d["d"] = 4 #adds a new key value pair
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [39]:
d["a"] = 11 #updates the value for the existing key
d

{'a': 11, 'b': 2, 'c': 3, 'd': 4}

In [40]:
del d['d']
d

{'a': 11, 'b': 2, 'c': 3}

In [41]:
for key,value in d.items():
    print(key,value)

a 11
b 2
c 3

In [43]:
for key in d.keys():
    print(key)

a
b
c

In [44]:
for value in d.values():
    print(value)

11
2
3

In [48]:
d1 = {"a":[1,2,3,4],"b":[5,6,7,8]}
d1

{'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8]}

In [49]:
d2 = {"a":{"x":12,"y":13},"b":(5,6,7,8)}
d2

{'a': {'x': 12, 'y': 13}, 'b': (5, 6, 7, 8)}

In [50]:
d2["a"]

{'x': 12, 'y': 13}

In [51]:
d2["a"]["x"]

12

In [52]:
d2["b"]

(5, 6, 7, 8)

In [53]:
d2["b"][-1]

8